APP_ENV=development
RANDOM_SEED=42

DATA_RAW_DIR=data/raw
DATA_INTERIM_DIR=data/interim
DATA_PROCESSED_DIR=data/processed

MODEL_DIR=models
REPORT_DIR=reports

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=product-recommender
